.Header-title{
    font-family: roboto;
}
.Header-job-title{
    font-family: roboto;
}
.Header-phone{
    font-family: roboto;
}
.Header-email{
    font-family: roboto;
}
.Header-website{
    font-family: roboto;
}
.Header-adress{
    font-family: roboto;
}
.HeaderContainer{
    margin:15px;
    background-color: aquamarine;
    padding:5px 10px 10px 30px;
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
